@import "variables";
@import "font-awesome-4.7.0/css/font-awesome.min.css";

// layout
html, body {
    margin           : 0;
    padding          : 0;
    font-family      : @font;
    background-color : darken(@color-background, 10%);
    overflow         : hidden;
    #root {
        display : block;
        width   : 100%;
        height  : 100%;
    }
}

input {
    background    : transparent;
    padding       : 5px;
    font-size     : 16px;
    border        : none;
    border-bottom : 2px solid #999;
    &:focus {
        outline      : none;
        border-color : @color-primary;
    }
}

::-webkit-scrollbar {
    width : 0.8em;
}

::-webkit-scrollbar-track {
    background : transparent;
}

::-webkit-scrollbar-thumb {
    background    : rgba(100, 100, 100, 0.2);
    border-radius : 0.8em;
}

@import "components/layout/layout";
@import "components/layout/content";
@import "components/layout/sidebar";
@import "components/chat/avatar";
@import "components/chat/chat";
@import "components/chat/message-list";
@import "components/users/users";
@import "components/users/user-list";
@import "components/login";
@import "components/navigation";
@import "components/notifications";
//@import "icons/icons";
