@import "../variables";

.navigation-component {
    display               : grid;
    grid-template-columns : 1fr 3fr 1fr;
    grid-auto-columns     : minmax(auto, @navigation-height);
    align-self            : start;
    width                 : 100%;
    height                : @navigation-height;
    padding               : 5px;
    background-color      : @color-foreground;
    box-shadow            : @vertical-shadow;
    border-bottom         : 1px solid darken(@color-foreground, 10%);
    box-sizing            : border-box;
    .back-button {
        .navigation-left-button();
    }
    .title {
        align-self : center;
        h2 {
            text-align  : center;
            font-weight : normal;
            margin      : 0;
        }
    }
    .right-button {
        .navigation-right-button();
    }
}

.navigation-left-button {
    align-self : start;
    button {
        float : left;
        .navigation-button();
    }
}

.navigation-right-button {
    align-self : end;
    button {
        float : right;
        .navigation-button();
    }
}

.navigation-button {
    box-sizing       : border-box;
    cursor           : pointer;
    border           : none;
    background-color : transparent;
    border-radius    : 100%;
    padding          : 5px;
    width            : 50px;
    height           : 50px;
    &:hover {
        background-color : darken(@color-foreground, 10%);
    }
    &:focus {
        outline : none;
    }
    i {
        color     : #111;
        font-size : @icon-size-sm;
    }
    i.fa-chevron-left {
        margin-left : -5px;
    }
}